@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White-color: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
}

body {
  position: relative;
  background: url("images/bg-stars.svg") var(--Very-dark-blue) center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count--down {
  height: 100vh;
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.launch--contact {
  width: 143vh;
  background: url("images/pattern-hills.svg") repeat-x center;
}

.launch--timer,
.launch--contact {
  display: flex;
  align-items: center;
}

.launch--contact {
  justify-content: center;
  height: 197px;
}

/* Typography */

.launch--info {
  margin-top: 5rem;
}

.launch--text > h1 {
  color: var(--White-color);
}

.launch--timer {
  justify-content: space-evenly;
  margin-top: 5rem;
}

.time--text {
  text-align: center;
  color: var(--Grayish-blue);
}

.time--text > p {
  margin-top: 1rem;
}

.time {
  border-radius: 10px;
  text-align: center;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 50px;
  color: var(--Soft-red);
  margin-left: 2rem;
  background-color: var(--Dark-desaturated-blue);
  width: 100px;
  height: 100px;
}

/* Socials */

.contact {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1.5rem;
}

.contact svg:hover {
  fill: var(--Soft-red);
}
